<a href="https://colab.research.google.com/github/gamalieltoka/Supermarket-Sales-in-Cities/blob/master/Exploring_the_Data_Analyst_Job_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üß† Challenge: Exploring the Data Analyst Job Market

## üéØ Objective
Analyze and visualize trends in Data Analyst job listings.
- Explore the dataset,
- Clean dataset,
- Generate insights,
- Presentation of key findings that could assist for job search

## üì¶ Step 1: Import Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: prettier plots
sns.set(style="whitegrid")

## üì¶ Dataset - Download and Open the dataset from Kaggle

 Dataset to analysed was obtained from this site: https://www.kaggle.com/datasets/andrewmvd/data-analyst-jobs?resource=download

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("andrewmvd/data-analyst-jobs")
print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/andrewmvd/data-analyst-jobs?dataset_version_number=1...

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2.25M/2.25M [00:00<00:00, 102MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/andrewmvd/data-analyst-jobs/versions/1

In [ ]:
import os
# Load the CSV
df = pd.read_csv(os.path.join(path, "DataAnalyst.csv"))
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We‚Äôre looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

## üß∞ Step 1: First Look

Explore the dataset:

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [ ]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [ ]:
df.isna().sum()df.isna().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

## üõ†Ô∏è Step 2: Clean the Data
- Handle missing data (replace missings)
- Extract or clean salary values (make sure salary is numerical)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('K', '000')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('$', '')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Glassdoor est.)', '')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Employer est.)', '')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('Per Hour', '')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('Employer Provided Salary:', '')
df['Salary Estimate']

0        37000-66000
1        37000-66000
2        37000-66000
3        37000-66000
4        37000-66000
            ...
2248    78000-104000
2249    78000-104000
2250    78000-104000
2251    78000-104000
2252    78000-104000
Name: Salary Estimate, Length: 2252, dtype: object

## üìä Step 3: Exploratory Data Analysis (EDA)

Explore the job market:
- Top job titles
- Most hiring companies
- Popular locations
- Salary distribution

In [ ]:
top_titles = (
    df['Job Title']
      .value_counts()
      .head(10)
      .reset_index()
)
top_titles.columns = ['job_title', 'count']
print(top_titles)

                 job_title  count
0             Data Analyst    404
1      Senior Data Analyst     90
2      Junior Data Analyst     30
3    Business Data Analyst     28
4         Sr. Data Analyst     21
5     Data Quality Analyst     17
6          Data Analyst II     17
7      Data Analyst Junior     17
8  Data Governance Analyst     16
9        Lead Data Analyst     15

In [ ]:
top_companies = (
    df['Company Name']
      .value_counts()
      .head(10)
      .reset_index()
)
top_companies.columns = ['company_name', 'job_postings']
print(top_companies)

                            company_name  job_postings
0  Staffigo Technical Services, LLC\n5.0            58
1                      Diverse Lynx\n3.9            22
2           Lorven Technologies Inc\n4.0            19
3                            Kforce\n4.1            19
4                       Robert Half\n3.5            14
5                     Avacend, Inc.\n2.5            13
6                             Mondo\n3.9            11
7                        eTeam Inc.\n3.7            10
8                             Apple\n4.1            10
9                      Apex Systems\n3.8            10

In [ ]:
top_locations = (
    df['Location']
      .value_counts()
      .head(10)
      .reset_index()
)
top_locations.columns = ['location', 'job_postings']
print(top_locations)

            location  job_postings
0       New York, NY           310
1        Chicago, IL           130
2  San Francisco, CA           119
3         Austin, TX            81
4    Los Angeles, CA            80
5      Charlotte, NC            78
6        Houston, TX            72
7         Dallas, TX            66
8      San Diego, CA            62
9   Philadelphia, PA            56

In [ ]:
clean = (
    df['Salary Estimate']
    .dropna()
    .str.replace(r'\(.*?\)', '', regex=True)   # remove "(Glassdoor est.)"
    .str.strip()
    .str.replace('$', '', regex=False)
    .str.replace('K', '', regex=False)
)

# 2. Split into min and max (in thousands)
salary_split = clean.str.split('-', expand=True)
df['sal_min_k'] = pd.to_numeric(salary_split[0], errors='coerce')
df['sal_max_k'] = pd.to_numeric(salary_split[1], errors='coerce')

# 3. Midpoint and convert to dollars
df['sal_mid_usd'] = df[['sal_min_k', 'sal_max_k']].mean(axis=1) * 1000

# 4. Distribution: summary + histogram
print(df['sal_mid_usd'].describe())

count    2.252000e+03
mean     7.208925e+07
std      2.364947e+07
min      1.000000e+03
25%      5.800000e+07
50%      6.900000e+07
75%      8.050000e+07
max      1.500000e+08
Name: sal_mid_usd, dtype: float64

## üìç Step 4: Deep Dive

- Salary by location

In [ ]:
salary_by_location = (
    df.groupby('Location')['sal_min_k']
      .mean()
      .sort_values(ascending=False)
      .head(10)
      .reset_index()
)

print(salary_by_location)

                Location  sal_min_k
0        Pico Rivera, CA   113000.0
1           Whittier, CA   113000.0
2             Newark, CA   110000.0
3         Great Neck, NY    98000.0
4            Hoboken, NJ    98000.0
5         Woodbridge, NJ    98000.0
6  Elk Grove Village, IL    97000.0
7            Maywood, IL    97000.0
8         Northfield, IL    97000.0
9           Glenview, IL    97000.0

## üìù Step 5: Summary & Insights

Summarize your main takeaways in markdown cells or printed statements. Some guiding questions:

- Patterns  notice
- Job seeker consider

Certain job titles (e.g. Data Analyst, Senior Data Analyst, Reporting Analyst) appear far more frequently than others, suggesting strong demand for core analytics roles.

A small set of companies contributes a large share of postings, indicating clusters of hiring around big tech, healthcare, and large non‚Äëprofits.